<li>
  <%= image_tag comment.user.avatar.url(:small) %>
  <div class="content column-wrap">
    <%= comment.user.name -%> : <%=h comment.content -%>
    <div class="box-footer"><%= comment.updated_at.to_s(:short) -%>qwe</div>
  </div>
  <div class="clear"></div>
</li>

