<li>
  <%= image_tag comment.user.avatar.url(:small) %>
  <div class="content column-wrap">
    <div class="text"><%= comment.user.name -%> : <%= expand_comment( comment.content ) -%></div>
    <div class="box-footer"><%= comment.updated_at.to_s(:short) -%>qwe</div>
  </div>
  <div class="clear"></div>
</li>

