<h1><%= t('title.edit_comment')-%></h1>

<% form_for(@comment) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.text_area :content %>
  </p>
  <p>
    <%= f.submit t('actions.update') %>
  </p>
<% end %>
