<h1><%= t 'titles.comments' -%></h1>

<div id="list-comment">
  <ul>

<% for article, comments in @grouped_comments do %>
    <li>
      <%= render :partial => article, :locals => {:type => :comments_index} -%>
      <ul class="min-user">
        <% for comment in comments do %>
        <li class="box-list-miniuser">
          <%= render :partial => "/comments/small_comment", :locals => {:comment => comment} %>
        </li>
        <% end %>
      </ul>
    </li>
<% end %>

  </ul>
</div>
