<div class="box">
  <div id="news-of-the-day">
    <h1>Новость дня</h1>
    <img src="" />
    <p>Собранием журнала было принято решение по продвижению интернет проектов FAKE-MM на общий обзор общественности. В данный момент активно продвигается страничка вконтакте, так же в скором времени начнётся продвижение li.ru. Методы продвижения выбирались из доступных. Журнал был строго ограничен в финансовом плане. Однако мы сумели позволить себе сделать пару вечеринок и забить клуб на ещё пару вечеринок. Всё что будет, будет не случайно. Работа продолжается.</p>
    <div class="box-footer">Корреспондент: Джигурда Антон</div>
  </div>

  <div id="announcement">
    <h1>Афиша</h1>
    <p>Какой-то контент, очень длинный , очень длинный...</p>
    <div class="box-footer">Вся афиша</div>
  </div>

  <div class="clear"></div>

  <div id="features">
    <h1>Features</h1>
    <div class="feature first">
      <img src="" />
      <p>Какой-то контент, очень длинный , очень длинный...</p>
      <div class="box-footer">10 янв 09</div>
    </div>
    <div class="feature">
      <img src="" />
      <p>Какой-то контент, очень длинный , очень длинный...</p>
      <div class="box-footer">10 янв 09</div>
    </div>
  </div>
  <div id="reviews">
    <h1>Рецензии</h1>
    <p>Какой-то контент, очень длинный , очень длинный...</p>
    <div class="box-footer">10 янв 09</div>
  </div>
  <div id="categories">
    <h1>Рубрики</h1>
    <p>Какой-то контент, очень длинный , очень длинный...</p>
    <div class="box-footer">10 янв 09</div>
  </div>

  <div class="clear"></div>
  
</div>
<!--
<h1>Main page</h1>

<% if current_user %>
<h2>Controls</h2>
<ul>
  <li><%= link_to 'new article', new_article_path -%></li>
</ul>
<% end %>

<h2>Articles</h2>
<ul>
  <% for article in @articles do %>
  <li><%= link_to article.title, article %></li>
  <% end %>
</ul>
-->
