<div>
  <div id="news-of-the-day" class="box h500">
    <%= render @article, :type => :news_of_the_day %>
  </div>

  <div id="announcement" class="box h500">
    <h1>Афиша</h1>
    <p>Какой-то контент, очень длинный , очень длинный...</p>
    <div class="box-footer">Вся афиша</div>
  </div>

  <div class="clear"></div>

  <div id="features" class=" box h200">
    <h1>Features</h1>
    <div class="feature box first">
      <img src="" />
      <p>Какой-то контент, очень длинный , очень длинный...</p>
      <div class="box-footer">10 янв 09</div>
      <div class="clear"></div>
    </div>
    <div class="feature box">
      <img src="" />
      <p>Какой-то контент, очень длинный , очень длинный...</p>
      <div class="box-footer">10 янв 09</div>
      <div class="clear"></div>
    </div>
  </div>
  <div id="reviews" class="box h200">
    <h1>Рецензии</h1>
    <p>Какой-то контент, очень длинный , очень длинный...</p>
    <div class="box-footer">10 янв 09</div>
      <div class="clear"></div>
  </div>
  <div id="categories" class="box h200">
    <h1>Рубрики</h1>
    <p>Какой-то контент, очень длинный , очень длинный...</p>
    <div class="box-footer">10 янв 09</div>
      <div class="clear"></div>
  </div>

  <div class="clear"></div>
  
</div>
