<div>
  <div class="category box">
    <h1><%= t('titles.articles') -%></h1>
    
    <ul>
      <% for article in @articles do %>
      <%= render article, :type => :category_list_item, :odd => cycle(true,false) %>
      <% end %>
    </ul>

  </div>

  <div class="clear"></div>
  <div class="box-footer-plain"></div>
</div>
