html,body{ 
    padding: 0px; 
    margin: 0px; 
    background-color: black; 
    color: white; 
    min-width: 900px; 
}
* { font-family: Arial, Helvetica, sans-serif; font-weight: lighter; }
a { text-decoration: none; }
p { font-size: 10pt; }
*.clear { clear: both;}
li { list-style-type: none; }
img { border: none; }
#header, #footer { 
    height: 70px;
    background-color: black;
    color: white;	
}

#header a, #footer a { color: white; border-bottom: 1px dashed black; text-decoration: none }
#header a:hover, #footer a:hover { border-bottom: 1px dashed white; }

#header h1{
    line-height: 70px;
    margin: 0px;
    font-size: 30pt;
}
#header #entrance {
    margin-top: 20px;
    text-align: right;
    line-height: 10pt;
    font-size: 8pt;
    float: right;
}
#header #entrance a { line-height: 1.2em; }

#middle-wrap {
    background-color: white;
    color: black;
    background: url(/images/middle-bg.png) center center;
}

.width-wrap {
    margin: auto;
    width: 824px;
}

#middle {
    padding: 0px 20px 8px 20px; 
}

#nav { padding: 1px 0px 0px 0px; border-bottom: 1px solid black; }
#nav .menu ul { margin: 0px; padding: 0px; list-style-type: none; }
#nav .menu li { display: inline; padding-left: 4px; padding-right: 8px; border-right: 1px solid black; }
#nav .menu li.first{ padding-left: 0px; }
#nav .menu li.last{ border: none;}
#nav div.menu{ margin: 8px; font-size: 10pt; }
#nav .menu-header { background-color: black; color: white; text-align: center; }
#nav a { color: black; }
#nav a:hover { border-bottom: 1px dashed black; }

#copyright { text-align: center; font-size: 10pt; padding: 20px; margin-top: 16px;  border-top: 1px solid black; }

#footer p { font-size: 8pt; }
#footer #left   { width: 313px; float:left; text-align: right;}
#footer #center { width: 198px; float:left; text-align: center; }
#footer #right  { width: 313px; float:right; text-align: left; }

/* Registration page: Users/new */
#big-title { text-align: center;  margin: 90px 0px 40px 0px; }
#big-title h1 { font-weight: 900; font-size: 115pt; margin: 0px; padding: 0px; line-height: 110px; }
#big-title p { font-size: 35pt; text-transform: uppercase; margin: 0px }
#big-title strong { font-size: 35pt; font-weight: 900; }

#register-form { width: 420px; margin: 0px auto; }

#content { width: 824px; margin-top: 8px; background-color: white;}
#content a {color: black;}
/* Main page boxes */

.box h1 { margin: 0px 0px 8px 0px; 
	  padding: 2px 0px;; 
	  background-color: black; 
	  color: white; 
	  text-transform: uppercase;
	  font-size: 10pt;
	  text-align: center;
	}
.box h1 a {color: white; width: 100%; display: block; }
.box h2 { font-size: 20pt; font-weight: 100; margin-top: 0.2em; }
.box p { margin-bottom: 3em;}

div.h500 { min-height: 500px; _height: 500px; }
div.h200 { min-height: 200px; _height: 200px; }
div.h150 { min-height: 150px; _height: 150px; }
div.h172 { min-height: 172px; _height: 172px; }
div.h135 { min-height: 135px; _height: 135px; }
div.h98 { min-height: 98px; _height: 98px; }

.column-wrap { position: relative; float: left; display: inline;}

*.box-footer { text-align: right; font-size: 10pt; border-bottom: 1px solid black; line-height: 1.3em; position: absolute; bottom: 0px; right: 0px; width: 100%; background-color: white; }
*.box-footer-plain { text-align: right; font-size: 10pt; border-bottom: 1px solid black; line-height: 1.3em; width: 100%; }

#news-of-the-day { width: 408px; margin: 8px 8px 0px 0px; float:left; display: inline; }
#announcement { width: 408px; margin: 8px 0px 0px 0px; float:left; display: inline; }

#features { width: 408px; margin: 8px; margin: 0px 8px 0px 0px; float:left; display: inline; padding-top: 16px; border-top: 1px solid black; }
#features .feature{ float:left; display: inline; width: 200px; margin: 0px; }
#features *.first { margin-right: 8px; }
#reviews { width: 200px; margin: 0px 8px 0px 0px; float:left; display: inline; padding-top: 16px; border-top: 1px solid black; }
#categories { width: 200px; margin: 0px; float:left; display: inline; padding-top: 16px; border-top: 1px solid black; }

/* Logged in markup */
#user-sidebar { float: left; width: 200px; margin-right: 8px; margin-bottom: 8px; }
#user-content { width: 616px; float: left; display: inline; }
#user-content .box-footer-plain { border: none; }
#user-content form p { margin: 0.5em 0px; }

/* profile page */
#user-nav ul {margin: 16px 0px 16px 0px; padding: 0px 0px 0px 8px; }
#user-nav li { font-size: 10pt; margin-bottom: 4px;  }
#user-nav li a:hover { text-decoration: underline; }
#user-avatar { float: left; margin-right: 8px; width: 200px; height:300px; }
#user-info {margin-left: 208px;}
#user-name { border-bottom: 1px solid black; margin-bottom: 0.5em; }
#user-name h2 { margin: 0px; padding: 0px; }
#user-info p { margin: 0px 0px 0px 2em; }
#user-name p { margin: 0px; padding: 0px; line-height: 14pt;}


/* flash */
#flash { position: absolute; width: 100%; margin: 0.5em 0px; line-height: 30pt;}
#flash * { font-weight: 900; }
#flash.error { background-color: #bb0000;}
#flash.notice { background-color: #0000bb;}
#flash.loading { background-color: #00bb00;}
#flash div {width: 882px; margin: auto; }

/* articles */
/* #article-simple {margin: 8px; } */
.not-authorized #article-simple img.main-image {float: right; margin: 0px 0px 8px 8px; display: inline; }
.not-authorized #article-simple.box h1 { width: 406px; }
/* .authorized #article-simple */
.authorized #article-simple h2{ margin-top: 1em; }
#article-simple .box-footer-plain { margin-bottom: 1em; border-bottom: 1px solid black; }

/* category show (list of articles) */
.category ul { margin: 8px 0px 8px 0px; padding: 0px; }
.category .odd {  margin-right: 8px; }
.category li {display: block; float: left; height: 136px; margin-bottom: 8px; }
.authorized .category li { width: 304px; }
.not-authorized .category li { width: 408px; }
.category li .list-pic { margin-right: 8px; width: 96px; height: 96px; text-align: center; }
.category li .list-pic-footer {background-color: #f1f1f1; margin-top: 8px; height: 27px; font-size: 8pt; padding: 4px 0px 0px 1px; position: absolute; bottom: 0px; right: 0px; width: 100%; line-height: 25px; }
.authorized .category li .list-content {width: 200px;}
.not-authorized .category li .list-content {width: 304px;}
.category li h2 { color: black; background-color: #E1E1E1; font-size: 12pt; margin: 0px; padding: 2px; font-weight: bold; }
.category hr{ border: 0px; border-bottom: 1px solid black; margin: 0px; padding: 0px;}
.category li .list-content p { max-height: 30px; overflow: hidden; }
/* category index */

.category-item { margin-bottom: 8px; } 
.category-item h2 { margin: 0px; }
.category-image { float: left; margin-right: 8px; }
.category-info { height: 300px; position: relative; margin-left: 208px; }
.category-info-footer { text-align: right; width: 100%; position: absolute; bottom: 0px; right: 0px; font-size: 8pt; border-bottom: 1px solid black; padding-bottom: 8px; }
.category-info-footer-attributes {  background-color: #eee; line-height: 2.5em; margin-top: 8px; }

/* article editor */

.editor ul { margin: 0px; padding: 0px; }
.editor li { margin: 0px; padding: 0px; }
.editor-item { border: 1px solid gray; padding: 0px; margin: 0px 0px 8px 0px; background-color: white;}
.editor-item-title { border-bottom: 1px solid gray; background-color: #eee; padding: 0px 0.5em; }
.editor-item-title id { float: right; }
.editor-item-content { margin: 0px; height: 112px; border-bottom: 1px solid gray; }
.editor-item-content img { margin: 8px; }
.editor-item-info { padding: 0px 0px 0px 8px; height: 112px; width: 175px; float: right; border-left: 1px solid gray; border-bottom: 1px solid gray; background-color: white; margin: 0px; }
.editor-item-info p { margin: 0px; }
.editor-item-footer { font-size: 8pt; background-color: white; padding: 0px 0px 0px 8px; margin: 0px; }
.editor-item-options { padding-left: 8px; float: right; width: 175px; border-left: 1px solid gray; }

/* errors */

#errorExplanation { background-color: #fbb; border: 1px solid #b00; padding: 0.5em; margin-bottom: 8px; }
.fieldWithErrors input { background-color: #fbb; }

/* std edit fields */
.field_label { font-size: 10pt; }
.field { margin-bottom: 8px; }

/* news line */

#news-line { margin: 16px 0px 8px 0px;; padding: 0px; }
#news-line ul { margin: 0px; padding: 0px;}
#news-line .news-item { width: 96px; height: 140px; margin: 0px; }
#news-line .last { margin: 0px; }
#news-line .right-margin { margin-right: 8px; }
#news-line .news-item p { margin: 0px; font-size: 8pt; }
*.news-box-footer { text-align: right; font-size: 8pt; border-top: 1px solid black; line-height: 10pt; position: absolute; bottom: 0px; right: 0px; width: 100%; }

/* commets in article-simple */
.comments ul { padding: 0px; margin: 0px; height: 112px; }
.comments ul li { margin: 8px 0px 8px 0px; }
.not-authorized .comments ul li { width: 824px; }
.comments ul li img { float: left; margin: 8px; }
.comments ul li .content { float: left; height: 96px; margin: 8px 0px 30px ; overflow: hidden; }
.not-authorized .comments ul li .content { width: 706px; }
.authorized .comments ul li .content { width: 496px; }

/* comments */
.comment { margin: 0.5em; border: 1px solid black; }


/* new-comment article-simple  */
div.new-comment { padding: 8px; }
.new-comment textarea { width: 600px; height: 100px; border: 1px solid black; display: block; margin-bottom: 8px; }

/* user-list */
#users-list ul li { border-bottom: 1px solid black; margin-bottom: 8px; }