<h1>Добро пожаловать</h1>

<p>Вы зарегистрировались на портале <a href="http://fake-mm.ru">Fake musical magazine</a></p>
<p>Для авторизации на сайте используйте ваш почтовый адрес: <%= @email %> и пароль: <%= @password %> .

На это письмо отвечать не требуется.
С уважением команда fake-mm.
									     
