<div class="red-profile">
<table width="100%" cellspacing="0" cellpadding="5px">
<caption>О себе</caption>
<tbody><tr>
<td align="right" width="100px"><div class="field_label"><label for="user_fname">Дата рождения</label></div></td>
<td><div class="field"><input type="text" value="Антон" size="25" name="user[fname]" id="user_fname"></div> </td>
</tr>
<tr style="vertical-align: top;">
<td align="right" width="100px"><div class="field_label"><label for="user_fname">О себе</label></div></td>
<td align="top"><div class="field">
<textarea size="25" name="user[fname]" id="user_fname" rows="10" cols="25"></textarea>
</div> </td>
</tr>

<tr style="vertical-align: top;">

<td align="right" width="100px"><div class="border-pset"></div><div class="field_label"><label for="user_fname">Любимая музыка</label></div></td>
<td align="top"><div class="border-pset"></div><div class="field">
<textarea size="25" name="user[fname]" id="user_fname" rows="10" cols="25"></textarea>
</div> </td>
</tr>
<tr style="vertical-align: top;">

<td align="right" width="100px"><div class="border-pset"></div></td>
<td align="top"><div class="border-pset"></div></td>
</tr>
</tbody></table>

</div>
