  <div class="red-profile">
    <h2><%=t 'titles.avatar' -%></h2>
    
    <% fields_for @user do |f| %>
    <%= styled_field 'edit', @user, :avatar, f, 'file_field' %>
    <% end %>

      <h3>Внимание!</h3>
      <p>
	Если вас не устраивает качество вашего аватара, мы рекомендуем
	закачивать его в размере 200x300 пикселов в формате
	JPG.</p>
  </div>
