  <div class="right-men-menu">
    <ul>
      <li> <a href="">Основное</a></li>
      <li> <a href="">Контакты</a></li>
      <li> <a href="">О себе</a></li>
      <li class="this-menu"> <a href="">Аватар</a></li>
      <!--<li> <a href="">myspace.com</a></li>-->		

    </ul>
    <ul>
      <li> <a href="">Пароль и защита</a></li>
      <li> <a href="">Приватность</a></li>
      <li> <a href="">Должность</a></li>
      <!--<li> <a href="">last.fm</a></li>
	       <li> <a href="">myspace.com</a></li>
      <li> <a href="">livegournal</a></li> -->
    </ul>
  </div>
