  <div class="top-line"></div>
  <% events.each do |event| -%>
    <div id="event_<%= event.id -%>">
      <%= link_to_remote render( :partial => '/events/list_element', :locals => { :event => event } ), :url => event_path(event.id),
	                                                                                               :method => 'get' %>
    </div>
  <% end -%>
