	<table class="element short">
	  <tr>
	    <td class="icon"><%= image_tag "event_#{event.indicator}.png" -%></td>
	    <td class="date">
	      <%= Russian::strftime( event.date, "%d %B").split.map{|w|w.mb_chars.capitalize}.join(" ") -%>
	    </td>
	    <td class="text"><%= event.title + ' ' + h( event.text ) %></td>
	    <td class="club"><%=h event.club %></td>
	  </tr>
	</table>
