<div class="box">
  <h1><%= t('titles.events') -%></h1>

  <% has_role? :admin do -%>
  <div id="event_editor">
  <%= render :partial => 'edit', :locals => { :event => @event } %>
  </div>
  <% end -%>

  <div id="events">
    <%= render :partial => 'list' %>
  </div>

  <% has_role? :admin do -%>
  <%= link_to t('actions.new_event'), new_event_path %>
  <% end -%>
  
</div>
