<div>
  <div class="category box">
    <h1><%= link_to @category.name, categories_path -%></h1>
    
    <ul id="list-comment">
      <% for article in @category.articles do %>
      <%= render article, :type => :category_list_item, :odd => cycle( :true, :false ) %>
      <% end %>
    </ul>

  </div>

  <div class="clear"></div>
</div>
