<div>
  <div id="<%= @category.sysname -%>" class="category box">
    <h1><%= link_to @category.name, categories_path -%></h1>
    
    <ul>
      <% for article in @category.articles do %>
      <%= render article, :type => :category_list_item %>
      <% end %>
    </ul>

  </div>

  <div class="clear"></div>
  <div class="box-footer-plain"></div>
</div>
<% # link_to 'Edit', edit_category_path(@category) %> |
<% # link_to 'Back', categories_path %>
