	  <p>Наши партнёры:</p>
	  <p>
	    <%= link_to 'art-shot.ru', 'art-shot.ru' -%>
	    <%= link_to 'alba-studio.ru', 'alba-studio.ru' -%>
	    <%= link_to 'givana-studio.ru', 'givana-studio.ru' -%>
	    <%= link_to 'locum.ru', 'locum.ru', :title => 'Хостиг провайдер' -%>
