<div class="logo-fut"></div>
<div class="fut-text">
  <b>FAKE Musical Magazine © 2007-2010 </b> - Запрещается копирование статей без разрешения администрации <a href="http://vkontakte.ru/like_a_moment" title="Кристина Метревели - Контент менеджер с 2008 года.">(Контент-менеджера)</a> или автора. В случае, если вы копируете части стати или фотографию, размещайте ссылку на fake-mm.ru<br/>
  
  <b>Смотрите так же:</b>  <a href="http://fake-mm.ru/categories/1069603864" title="Новости журнала">Наш блог</a>&nbsp;&nbsp;&nbsp;| &nbsp;&nbsp;&nbsp;
  <b>Наши партнёры:</b>
  
  <a href="http://alexkushnir.ru" title="Фотограф Александр Кушнир">alexkushnir.ru</a>,	    	    
  <a href="http://locum.ru" title="Хостиг провайдер">locum.ru</a>,
  
  <a href="http://fake-mm.ru/categories/1069603863" title="Рубрика о партнёрах">и другие</a>.
</div>
