	  <p>Наши партнёры:</p>
	  <p>
	    <%= link_to 'alexkushnir.ru', 'http://alexkushnir.ru' -%>
	    <%= link_to 'art-shot.ru', 'http://art-shot.ru' -%>
	    <%= link_to 'givana-studio.ru', 'http://givana-studio.ru' -%>
	    <%= link_to 'locum.ru', 'http://locum.ru', :title => 'Хостиг провайдер' -%>
